html {
    scroll-behavior: smooth;
  }
  
  body {
    background: var(--dark);
    color: var(--white);
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  }