.education {
  .paper {
    padding: 1vh;
  }

  .education-info {
    font-variant: small-caps;
    font-weight: 500;
    font-size: 1.15rem;
    line-height: 1.2;
  }

  .education-info-text {
    font-size: 1.1rem;
  }

  .list-group-item {
    font-size: 1.1rem;
    padding: 0.5rem 1rem;
  }
}
