// Main SCSS file

// Set/Override variables before the import
$font-size-base: 1.15rem;
$font-family-sans-serif: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', Arial,
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Noto Sans', sans-serif,
  'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
$content-width-md: 80vw;
$content-width-xl: 68vw;

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';

// Load mixins
@import './mixins/cursor';

// Import additional styles
@import './partials/base';
@import './partials/app';
@import './partials/header';
@import './partials/navbar';
@import './partials/main';
@import './partials/section';
@import './partials/profile';
@import './partials/education';
@import './partials/experience';
@import './partials/projects';
@import './partials/footer';
