@mixin cursor($size) {
    &::after {
      content: '|';
      font-weight: 900;
      font-family: inherit;
      color: rgba(var(--white), 0.9);
      -webkit-animation: blink 2s step-end infinite;
      animation: blink 2s step-end infinite;
    }
  
    @-webkit-keyframes blink {
      0% {
        opacity: 0;
      }
      50% {
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
    }
  
    @keyframes blink {
      0% {
        opacity: 0;
      }
      50% {
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
    }
  }